{% extends 'base.html.twig' %}

{% block title %}Tous nos biens{% endblock %}

{% block body %}
 <div class="container mt-4">
        <h1>Voir tous nos biens</h1>
        <p>loremQuis consectetur deserunt fugiat nisi tempor cillum nulla ut tempor minim Lorem ipsum nulla. Consectetur dolor eiusmod et quis laboris. Consequat aute magna sint veniam cupidatat. Enim amet quis et mollit duis non mollit amet in sunt sint. Non excepteur minim dolor mollit cillum ea reprehenderit.</p>
    </div>
{% endblock %}
